@import "../../helpers.scss";
.categories {
  background: rgb(0, 187, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 187, 255, 1) 0%,
    rgba(46, 214, 162, 1) 100%
  );
  padding: 15px 0;
  .container {
    @include d-flex;
  }
}
